#location {
    margin-left: 18%;
    display: inline;
    margin-right: 10px;
    width: 38%;
}



.leftColumn {
	display:inline-block;
	margin-top: 30px;

}

.rightColumn{
	display:inline-block;
}

.pollutants {
    border: 2px solid black;
    height: 100px;
    width: 200px;
    margin: 10px;
    border-radius: 8%;
    li {
        list-style-type: none;
        display: block;
    }
}
.overall{
	display:inline-block;
	vertical-align: top;
	margin-top: 87px;
}

.values{
	margin-left: 17%;
}

.cities {
    div{
    
        width: 200px;
        height: 75px;
        border: 2px solid black;
        margin: 0px auto;
        margin-bottom: 10px;
        margin-top: 25px;
        text-align: center;
         border-radius: 8%;
    }
}

#PM2 {
    margin-bottom: 24px;
}

#NO2 {
    margin-bottom: 24px;
}


li#faveLocations{
     border: 2px solid lightseagreen;
    height: 100px;
    width: 25%;
    margin: 40px;
    margin-left: 25%;
    border-radius: 8%;
    list-style-type: none;

}

li p {
    margin-left: 10%;
}