
input{
	width: 200px;
}
.image{
	position: relative;
	width: 100%;
	display:inline;
}

img{
	height: 200px;
}

#pm25{
	position: absolute;
	bottom: -85px;
	left: 75px;
	li{
		
		list-style-type: none;

	}
}

#pm10{
	position: absolute;
	bottom: -85px;
	left: 75px;
	li{
		
		list-style-type: none;

	}
}

#co{
	position: absolute;
	bottom: -85px;
	left: 75px;
	li{
		
		list-style-type: none;

	}
}

#no2	{
	position: absolute;
	bottom: -85px;
	left: 75px;
	li{
		
		list-style-type: none;

	}
}

#aqi	{
	position: absolute;
	bottom: -85px;
	left: 75px;
	li{
		
		list-style-type: none;

	}
}


#aqiImage.image {
    margin-left: 27%;
}