button.delete {
    display: inline;
}

input {
    display: block;
    margin-top: 50px;
}

header {
   
    border-bottom: 2px solid black;
    color:rgb(79,183,76);
    height: 75px;
    #title{
        background: white;
        border-radius: 3%;
        padding: 3px;
        margin-left: 15px;
    }
}

h1 {
    margin: 0px auto;
}

footer{
    background: black;
    height: 75px;
}



#submitLocation {
    display: inline;
}

nav {
    display: inline-block;
    padding-top: 34px;
    font-size: 18px;
    ul {
        display: inline;
        li {
            display: inline;
            background: white;
            margin-right: 5px;
            padding-left: 3px;
            padding-right: 3px;
            padding-bottom: 1px;
            padding-top: 1px;
            border-radius: 5%;
            a {
            	color:rgb(79,183,76);
            }
        }
    }
}

header {

    #title {
        display: inline;
        margin-top: 10px;

    }
}

#aqiImage.image {
    margin-left: 27%;
}




