#location {
  margin-left: 18%;
  display: inline;
  margin-right: 10px;
  width: 38%; }

p.myPollutantValues {
  font-family: 'Indie Flower', cursive;
  display: inline; }

#myValuesBorder {
  margin-left: 35%;
  display: inline-block;
  padding-right: 5px;
  width: 120px; }

button.getPollutantsValue {
  font-family: 'Indie Flower', cursive; }

img.myLocationsSkyline {
  height: 50px;
  margin-left: 38%;
  margin-bottom: 5px;
  border-radius: 10%;
  display: block; }

img.myLocationsDisplay {
  height: 120px;
  margin-left: 50px; }

img.myLocationsAqi {
  height: 120px;
  margin-left: 50px;
  margin-top: 25px; }

ul.locations {
  font-family: 'Barrio', cursive; }

li {
  list-style-type: none; }

.overall {
  display: inline-block;
  vertical-align: top;
  margin-top: 87px; }

.values {
  margin-left: 17%; }

.cities div {
  width: 200px;
  height: 75px;
  border: 2px solid black;
  margin: 0px auto;
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: center;
  border-radius: 8%; }

#PM2 {
  margin-bottom: 24px; }

#NO2 {
  margin-bottom: 24px; }

li#faveLocations {
  list-style-type: none; }

#pm25.locations {
  position: absolute;
  bottom: -30px;
  left: 107px; }
  #pm25.locations li {
    list-style-type: none; }

#pm10.locations {
  position: absolute;
  bottom: -30px;
  left: 107px; }
  #pm10.locations li {
    list-style-type: none; }

#co.locations {
  position: absolute;
  bottom: -30px;
  left: 107px; }
  #co.locations li {
    list-style-type: none; }

#no2.locations {
  position: absolute;
  bottom: -30px;
  left: 107px; }
  #no2.locations li {
    list-style-type: none; }

#aqi.locations {
  position: absolute;
  bottom: -30px;
  left: 107px; }
  #aqi.locations li {
    list-style-type: none; }
