button.delete {
  display: inline; }

input {
  display: block;
  margin-top: 50px; }

header {
  border-bottom: 2px solid lightseagreen;
  color: lightskyblue;
  height: 75px; }
  header #title {
    background: white;
    border-radius: 3%;
    padding: 3px;
    margin-left: 15px; }

h1 {
  margin: 0px auto; }

footer {
  background: black;
  height: 75px; }

#submitLocation {
  display: inline; }

nav {
  display: inline-block;
  padding-top: 34px;
  font-size: 18px; }
  nav ul {
    display: inline; }
    nav ul li {
      display: inline;
      background: white;
      margin-right: 5px;
      padding-left: 3px;
      padding-right: 3px;
      padding-bottom: 1px;
      padding-top: 1px;
      border-radius: 5%; }
      nav ul li a {
        color: lightskyblue; }

header #title {
  display: inline;
  margin-top: 10px; }
