<h1>Particulate Matter less than 2.5 Microns in diameter (PM2.5)</h1>
<p>In China, one of the most polluted countries in the world, citizens who live in populated areas check the pm2.5 count every single day because if it is too high they purposely do not go outside if at all possible.</p>
<h2>Causes:Main sources are fuel burning processes in industry, transportation and indoor heating.</h2>
<h2>Effects:Particles enter the lungs and cause local and systemic inflammation in the respiratory system & heart, thus cause cardiovascular and respiratory diseases such as asthma and bronchitis.</h2>