<link rel="stylesheet" href="css/pollutants.css">
<div class='animated fadeInUp'>
<h1>Carbon Monoxide</h1>
<h2>Causes: Produced in the incomplete combustion of carbon-containing fuels, such as gasoline, natural gas, oil, coal, and wood.</h2>
<h2>Effects: Breathing the high concentrations of CO typical of a polluted environment leads to reduced oxygen (O2) transport by hemoglobin and has health effects that include headaches, increased risk of chest pain for persons with heart disease, and impaired reaction timing.</h2>
<button ui-sref='searchCity'>Map</button>
</div>
