input {
  width: 200px; }

.image {
  position: relative;
  width: 100%;
  display: inline; }

img {
  height: 200px; }

#pm25 {
  position: absolute;
  bottom: -85px;
  left: 75px; }
  #pm25 li {
    list-style-type: none; }

#pm10 {
  position: absolute;
  bottom: -85px;
  left: 75px; }
  #pm10 li {
    list-style-type: none; }

#co {
  position: absolute;
  bottom: -85px;
  left: 75px; }
  #co li {
    list-style-type: none; }

#no2 {
  position: absolute;
  bottom: -85px;
  left: 75px; }
  #no2 li {
    list-style-type: none; }

#aqi {
  position: absolute;
  bottom: -85px;
  left: 75px; }
  #aqi li {
    list-style-type: none; }
